extends layout

block content


    div(ng-controller="AppCtrl")


        //- canvas#canvas

        //- {{testing}}

        //- {{tilt}}

        h1#test(style="position: relative; width: 80x; margin: 0 auto") Hello World