extends layout

block content


    div(ng-controller="AppCtrl")


        //- canvas#canvas

        //- {{testing}}

        //- {{tilt}}
        //- div(width="100%")
            //- h1#test(style="position: fixed; width: 80px") Hello World

        div
            canvas#canvas(width='800', height='800')
                p  This text is displayed if your browser does not support HTML5 Canvas. 